body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    place-items: center;
}
#container{
    position: absolute;
    width: 700px;
    height: 500px;
    top:70px;
    background-color: rgb(239, 239, 239);
    display: flex;
    justify-content: center;
    place-items: center;
}
 #container label{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: white;
    background-image: url(icons/share-2.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    display: flex;
    justify-content: center;
    place-items: center;
    border-radius: 50%;
    transition: 100ms;
}
#container #insta{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 325px;
    background-color: white;
    display: flex;
    justify-content: center;
    place-items: center;
    border-radius: 50%;
    z-index: -10;
    transition: 300ms;
}
#container #insta img{
    position: relative;
    width: 25px;
}
#container #insta:hover{
    background: rgb(72,58,180);
    background:
    linear-gradient(190deg, rgba(72,58,180,1) 0%,
    rgba(241,29,40,1) 90%, rgba(252,247,69,1) 100%);
}
#container #telegram {
    position: absolute;
    width: 50px;
    height: 50px;
    top:225px;
    background-color: white;
    border-radius: 50%;
    z-index: -2;
    display: flex;
    justify-content: center;
    place-items: center;
    transition: 300ms;
    transition-delay: 300ms;
}
#container #telegram img{
    position: relative;
    width: 25px;
}
#container #telegram:hover{
    background-color: rgb(118, 202, 230);
}
#container #twitter{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color:white;
    border-radius: 50%;
    z-index: -3;
    right: 325px;
    transition: 300ms;
    transition-delay: 600ms;
    display: flex;
    justify-content: center;
    place-items: center;
}
#container #twitter img{
    position: relative;
    width: 25px;
}
#container #twitter:hover{
    background-color: rgb(245, 245, 70);
    transition: 0;
}
#container label:hover{
    outline: 3px solid blue;
}
#container  input:checked~label{
background-image: url(icons/close-window.png); 
}
#container  input:checked~#insta{
left: 230px;
z-index: 1;
}
#container  input:checked~#telegram{
    top: 130px;
    z-index: 1;
    transition-delay: 300ms;
}
#container  input:checked~#twitter{
    right:230px;
    z-index: 1;
    transition-delay: 500ms;
}